<link href="https://unpkg.com/bootstrap-css-only@4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.1/css/all.css" rel="stylesheet" />
<link href="https://unpkg.com/angular-calendar@0.28.22/css/angular-calendar.css" rel="stylesheet" />
<link href="https://unpkg.com/flatpickr@4.6.6/dist/flatpickr.css" rel="stylesheet" />

<!-- header part -->
<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<!-- calendar part -->
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="mapedEvents" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="weekStartsOn" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="showEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="mapedEvents" [refresh]="refresh"
    [weekStartsOn]="weekStartsOn" (eventClicked)="showEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="mapedEvents" [refresh]="refresh"
    (eventClicked)="showEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br /><br /><br />

<!-- edit events section -->
<h3>
  <button class="btn btn-primary add-btn" (click)="createNewEvent()">
    Add new event
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-wrapper" *ngIf="tempEvent">
  <h3>EventToSave</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
        <th *ngIf="clickedEdit">Cancel</th>
        <th>Submit</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="text" class="form-control" [(ngModel)]="tempEvent.title" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="tempEvent.color" (change)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="tempEvent.color" (change)="refresh.next()" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="tempEvent.start"
            (ngModelChange)="refresh.next()" [altInput]="true" [time24hr]="true" [convertModelValue]="true"
            [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="tempEvent.end"
            (ngModelChange)="refresh.next()" [altInput]="true" [time24hr]="true" [convertModelValue]="true"
            [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <button class="btn btn-danger event-delete" (click)="deleteEvent(tempEvent)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td *ngIf="clickedEdit" (click)="cancelEdit(tempEvent)">
          <button class="btn btn-warning event-cancel">
            <i class="fas fa-undo"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-success event-submit" (click)="addEvent()">
            <i class="fas fa-check"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- opening modal with info what happened -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">EventToSave action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      EventToSave:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>


<!-- noteView -->
<ng-template #noteView let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.event.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <h4>Note title:</h4>
      <input type="text" class="form-control" [(ngModel)]="calendarNote.title" />
    </div>
    <div class="form-group">
      <h4>Note description:</h4>
      <textarea type="text" class="form-control" [(ngModel)]="calendarNote.description"></textarea>
    </div>
    <button type="button" class="btn btn-primary float-right" (click)="saveNote(modalData?.event)">Save Note</button>
    <div class=" clearfix"></div>

    <!-- Table with panel -->
    <div class="card card-cascade narrower mt-4">
      <!--Card image-->
      <div class="py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div class="white-text mx-3"></div>
        <div>
          <button type="button" class="btn btn-outline-danger btn-sm px-2" (click)="deleteNotes(modalData?.event)">
            <i class="far fa-trash-alt mt-0"></i>
          </button>
        </div>
      </div>
      <!--/Card image-->
      <div class="px-4">
        <div class="table-wrapper">
          <!--Table-->
          <table class="table table-hover  mb-0">
            <!--Table head-->
            <thead>
              <tr class="d-flex">
                <th class="col-2">
                  <input class="form-check-input" type="checkbox" id="checkbox" 
                  [indeterminate]="someChecked()"
                  [(ngModel)]="allChecked"
                  (change)="setCheckedAll(allChecked)">
                  <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>
                </th>
                <th class="col-3">
                  Title
                </th>
                <th class="col-5">
                  Description
                </th>
                <th class="col-2"></th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody >
              <tr class="d-flex" *ngFor="let note of returnedNotes">
                <td class="col-2">
                  <input class="form-check-input " type="checkbox" id="checkbox1" [(ngModel)]="note.isChecked" (ngModelChange)="updateAllChecked()">
                  <label class="form-check-label" for="checkbox1" class="mr-2 label-table"></label>
                </td>
                <td class="col-3">{{note.title}}</td>
                <td class="col-5">{{note.description}}</td>
                <td class="col-2">
                  <button type="button" class="btn btn-outline-success btn-sm mx-2 px-2" (click)="editNote(note)">
                    <i class="fas fa-pencil-alt mt-0"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
    <!-- Table with panel -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </div>
</ng-template>
<!-- noteView -->

<!-- eventView -->
<ng-template #eventView let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.event.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="event-body modal-body">
    <div>
      Start:
      <pre>{{ modalData?.event.start.toLocaleString() }}</pre>
    </div>
    <div>
      End:
      <pre>{{ modalData?.event.end.toLocaleString() }}</pre>
    </div>
  </div>
  <div class="table-responsive" *ngIf="tempEvent"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
<!-- eventView -->


<!-- noteEditView -->
<ng-template #editNoteView let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Edit Note</h5>
    <button type="button" class="close" (click)="close();getNotes(modalData.event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      Title:
      <input class="form-control" type="text" [(ngModel)]="tempNote.title"/>
    </div>
    <div class="form-group">
      Description:
      <textarea type="text" class="form-control" [(ngModel)]="tempNote.description"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveEditedNote(tempNote)">
      Save Changes
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close();getNotes(modalData.event)">
      OK
    </button>
  </div>
</ng-template>
<!-- noteEditView -->